In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [24]:
df = pd.read_csv('data/LUNA25_Public_Training_Development_Data.csv')

In [25]:
df

,PatientID,SeriesInstanceUID,StudyDate,CoordX,CoordY,CoordZ,LesionID,AnnotationID,NoduleID,label,Age_at_StudyDate,Gender
0,100570,1.2.840.113654.2.55.32380467633296345717423514...,19990102,61.14,-163.28,-177.75,1,100570_1_19990102,100570_1,1,63,Male
1,106364,1.2.840.113654.2.55.16930993607533226779708566...,19990102,30.64,-95.96,-128.59,1,106364_1_19990102,106364_1,1,67,Female
2,127302,1.2.840.113654.2.55.13728437630416839550344528...,20000102,-82.53,-27.85,-209.46,1,127302_1_20000102,127302_1,1,61,Male
3,128899,1.2.840.113654.2.55.40415300708683206534849072...,20010102,-38.69,-8.78,-39.43,1,128899_1_20010102,128899_1,1,64,Male
4,215816,1.3.6.1.4.1.14519.5.2.1.7009.9004.241362276021...,19990102,32.89,-37.98,-100.04,1,215816_1_19990102,215816_1,1,69,Female
...,...,...,...,...,...,...,...,...,...,...,...,...
6158,123244,1.2.840.113654.2.55.96785330641884045479008848...,20010102,50.88,55.09,1816.38,1,123244_1_20010102,123244_1,0,73,Female
6159,104196,1.2.840.113654.2.55.67476228289351741200494264...,20000102,84.01,-94.42,1106.82,1,104196_1_20000102,104196_1,0,58,Female
6160,104196,1.2.840.113654.2.55.24806580836056963319112187...,20010102,70.29,-85.76,1904.06,1,104196_1_20010102,104196_1,0,59,Female
6161,204005,1.3.6.1.4.1.14519.5.2.1.7009.9004.291214500058...,19990102,128.81,11.64,-256.59,1,204005_1_19990102,204005_1,0,59,Male
6162,204005,1.3.6.1.4.1.14519.5.2.1.7009.9004.204863242782...,20000102,128.80,-3.87,-248.66,1,204005_1_20000102,204005_1,0,60,Male

In [26]:
df.groupby('SeriesInstanceUID', as_index=False)['label'].nunique().sort_values('label', ascending=False)

                                      SeriesInstanceUID  label
0     1.2.840.113654.2.55.10001915497607871704679012...      1
2718  1.2.840.113654.2.55.98593203147463241270004148...      1
2705  1.2.840.113654.2.55.96831003195281709220095820...      1
2706  1.2.840.113654.2.55.97049455852340230905841667...      1
2707  1.2.840.113654.2.55.97239458335203374361907856...      1
...                                                 ...    ...
1361  1.2.840.113654.2.55.25310787163891609166569428...      1
1362  1.2.840.113654.2.55.25316211681623227567928603...      1
1363  1.2.840.113654.2.55.25321073892343273485953209...      1
1364  1.2.840.113654.2.55.25324630215056720219239033...      1
4068  1.3.6.1.4.1.14519.5.2.1.7009.9004.999671985647...      1

[4069 rows x 2 columns]

In [27]:
X = df.drop('label', axis=1)
y = df['label']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1)

In [28]:
pd.concat([X_train, y_train], axis=1).to_csv('data/train.csv', index=False)

In [29]:
pd.concat([X_val, y_val], axis=1).to_csv('data/valid.csv', index=False)

In [28]:
import SimpleITK as sitk

# Path to your file
path = "data/1.2.840.113654.2.55.323804676332963457174235140303454945005.mha"

# Read image
image = sitk.ReadImage(path)

# Convert to numpy array
import numpy as np
volume = sitk.GetArrayFromImage(image)  # shape: [slices, height, width]

print(volume.shape)

(163, 512, 512)

In [39]:
len(volume)

163

In [38]:
image['ITK_InputFilterName']

'MetaImageIO'

In [2]:
for i in range(0, volume.shape[0], 10):
    plt.imshow(volume[i], cmap='gray')
    plt.title(f"Slice {i}")
    plt.axis('off')
    plt.show()

NameError: name 'volume' is not defined

In [3]:
import numpy as np
import torch

In [38]:
file_path = "C:/temp/luna25-baseline/results/ResNet18Hybrid/config.npy"
# model_data = torch.load(file_path, map_location='cpu')
model_data = np.load(file_path, allow_pickle=True)

In [39]:
model_data

array({'train_csv': PosixPath('data/train.csv'), 'valid_csv': PosixPath('data/valid.csv'), 'config': <experiment_config.Configuration object at 0x10ef0d400>, 'best_auc': 0.8421365914786967, 'epoch': 63},
      dtype=object)

In [33]:
model_data['best_metric']

0.9420112781954888